.parallax {
  min-height: 250px;
}

.parallax-inner {
  padding: 1em 10px;
}

.slider {
  width: 73vw;
  text-align: center;
  overflow: hidden;
  font-family: 'Ropa Sans', sans-serif;
  margin-bottom: 2em;
  position: relative;
}

.slider:hover .slides {
  width: 100%;
  overflow-y: hidden;
  animation: none;
  animation-play-state: paused;
}

.finger {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 100px;
  left: 90%;
  z-index: 1;
  border-radius: 50%;
  opacity: 80%;
}

.slides {
  width: 1235%;
  display: flex;
  z-index: 5;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  border: 3px double grey;
  border-radius: 20px;
  box-shadow: 1px 1px 5px silver;
  animation: preview 15s ease-in 0s 1 normal forwards;
}

@keyframes preview {
  0% {
    transform: translateX(0);
  }
  98% {
    transform: translateX(-92%);
  }
}

.slides::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides>div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 73vw;
  height: 420px;
  margin-right: 10px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slides>div:hover {
  transform: scale(1.1);
}

.slide-img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
