:root {
    --montserrat: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* opacity: 0; */
    opacity: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: var(--montserrat);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

    /* animation: intro 800ms 0s ease-in 1 forwards; */
}

@keyframes intro {
    to {
        opacity: 100%;
    }
}

.intro-slide {
    width: 100%;
    height: 140vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 100;
    animation: slide 3500ms 0s ease-in 1 forwards;
}
@keyframes slide {
    90% {
        transform: translateY(0);
        opacity: 100%;
    }
    100% {
        opacity: 0;
        transform: translateY(-200px);
        display: none;
    }
}
.intro-img {
    margin-top: -400px;
}

a {
    color: white;
}

header {
    width: 100%;
    padding: 10px 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(63, 63, 76);

}

.logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 2px white; */
    border: 3px double white;
    border-radius: 50%;
}

.nav-links {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-link {
    width: 100%;
    margin: 0px 3px;
    text-decoration: none;
    /* color: rgb(87, 87, 87); */
    color: white;
    transition: all 200ms;
}

.nav-link:hover {
    /* color: rgb(63, 63, 63); */
    border-bottom: 1px solid white;
}

.hidden-nav {
    width: 40px;
    height: 6px;
    display: none;
    position: relative;
    background-color: white;
    border-radius: 3px;
}

.hidden-nav .nav-links {
    display: none;
}

.hidden-nav::before {
    content: "";
    width: 40px;
    height: 6px;
    position: absolute;
    top: -10px;
    border-radius: 3px;
    background-color: white;
}

.hidden-nav::after {
    content: "";
    width: 40px;
    height: 6px;
    position: absolute;
    bottom: -10px;
    border-radius: 3px;
    background-color: white;
}

/* ABOUT */
/* ABOUT */
.about {
    width: 100%;
    margin: auto;
}

.section-title {
    width: 80%;
    margin: auto;
    padding: 1em 0 1rem;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.about-inner {}

.parallax-wrapper {}

.parallax {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    position: relative;
}

.parallax-inner {
    width: 90%;
    text-align: center;
    position: relative;
    padding: 5px 10px;
    color: white;
    background-color: rgba(99, 99, 99, 0.733);
    border: 2px double black;
    border-radius: 5px;
    text-shadow: 0px 0px 3px black;

}

.parallax h1 {
    width: 100%;
    margin: auto;
    padding-top: 1em;
    font-size: 1.6em;
    text-align: center;
    letter-spacing: 1px;
}

.parallax p {
    margin: auto;
    font-weight: 800;
    letter-spacing: 1.8px;
    font-size: 2.8em;
}

.parallax::before {
    content: "";
    margin-top: -10em;
    width: 100vw;
    height: 900px;
    position: fixed;
    background-image: url('../images/Parra.png');
    z-index: -1;
    /* background-position: calc(50.4cm/400);
    background-position: calc(255cm/400 / 100); */
    background-position: 0px -425px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 0px 0px 2px grey; */
    border-top: 3px solid rgb(54, 54, 57);
}

.about-details-wrapper {
    width: 100%;
    background-color: white;
    border-top: 3px solid rgb(54, 54, 57);
}

.about-details {
    width: 98%;
    margin: 0 auto 0;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: white;
}

.about-details-card {
    min-width: 300px;
    margin: 2rem 1.5rem 1rem;
    padding: 15px 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 5px grey;
    border: 2px double grey;
    /* border-top: 5px solid rgb(61, 61, 139); */
    border-top: 6px solid rgb(63, 63, 76);
    border-radius: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 20%;

}

.card-image {
    position: relative;
    /* z-index: -5; */
    width: 200px !important;
    height: 180px !important;
    border-radius: 25px;
    /* border-bottom: 3px double grey;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    /* box-shadow: 0px 3px 1px black; */
}

.card-body {
    width: 230px;
    margin: 10px 0 20px 0;
}

.card-body-title {
    width: 98%;
    margin: auto;
    padding: 10px 0;
    font-size: 1.6em;
    font-weight: 750;
    color: rgb(41, 90, 136);
    letter-spacing: 1px
}

/* ABOUT */
/* ABOUT */

/* SERVICES */
.services {
    background-color: white;
}

.services-content {
    width: 80%;
    margin: auto;
    padding: 15px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 5px grey;
    border: 2px double grey;
    /* border-top: 5px solid rgb(61, 61, 139); */
    border-top: 6px solid rgb(63, 63, 76);
    border-radius: 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.services-content ul {
    width: 94%;
    font-size: large !important;
}
.services-content p {
    font-size: larger;
    margin-bottom: 20px;
}
.tikvids {
    margin: 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
    gap: 3em;
}
.tikvid {
    width: 90%;
    max-width: 300px;
    border-radius: 10px;
}

/* SERVICES */


/* CONTACT */
/* CONTACT */

.contact-wrapper {
    width: 100%;
    padding-bottom: 5%;
    background-color: white;
}

.contact-wrapper h3 {
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    text-shadow: 0px 1px 1px black;
}

.contact {
    width: 65%;
    margin: auto;
    padding: 10px 0 0;
    border: 1px solid grey;
    background-color: rgb(169, 169, 169);
    border-radius: 3px;
}

.contact-inner {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    /* background-color: aliceblue; */
    background-color: rgb(221, 228, 234);
    border-top: 1px solid grey;
}

.contact-methods {
    width: 60%;
    height: 80%;
    margin: auto;
    padding: 1.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.8rem;
    border: 3px double rgb(97, 101, 116);
    background-color: white;
    border-radius: 3px;
}

.contact-method-label {
    font-size: large;
    font-weight: bold;

}

.contact-method {
    color: rgb(67, 80, 129);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
    /* text-shadow: 0px 0px 0px black; */
}

.enquiries {
    width: 50%;
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid silver;
}

.enquiries h4 {
    text-align: center;
    text-decoration: underline;
}

.enquiries label {
    font-weight: bold;
    padding: 3px;
}

.enquiries input {
    width: 85%;
    margin: auto;
    padding: 2px 3px;
    border: 1.5px double rgb(127, 140, 150);
}

.enquiries textarea {
    width: 85%;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    border: 1.5px double rgb(127, 140, 150);
}

.submit-enquiry {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 3px 0;
    background-color: rgb(221, 228, 234);
    /* background-color: rgb(219, 219, 219); */
    border-radius: 3px;
}

/* CONTACT */
/* CONTACT */


/* FOOTER */
/* FOOTER */
footer {
    color: white;
    text-align: center;
    background-color: rgb(63, 63, 76);
    border-top: 3px solid rgb(54, 54, 57);
}

.footer-body {
    width: 100%;
    min-height: 140px;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(63, 63, 76); */
    border-bottom: 3px solid rgb(54, 54, 57);
}

.footer-body h4 {
    padding-bottom: 5px;
}

.footer-turbo {
    padding: 8px 0;
    font-size: large;
}

/* FOOTER */
/* FOOTER */